{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-sm">  <!-- general formatting, especially lines between rows -->
        <thead>
            <tr>
                <th>Symbol</th><th>Name</th><th>Shares</th><th>Price</th><th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for company in table %}
            <tr>
                {% for key, value in company.items() %}
                    {% if key == 'symbol' or key == 'name' or key == 'shares' %}
                        <td>{{ value }}</td>
                    {% elif key == 'price' or key == 'holding' %}
                        <td>{{ value | usd }}</td>
                    {% elif key == 'cash' %}
                        <td>CASH</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{ value | usd }}</td>
                    {% elif key == 'total' %}
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><span style="font-weight:bold">{{ value | usd }}</span></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
