<html>

<body>
     <table class="table table-sm">     <!-- copied class="table table-sm" from log.hmtl to get lines between the matrix rows -->
         <tbody>
         {% for row in matrix %}
             <tr>
             {% set rowloop = loop %}
             {% for column in row %}
                 {% if loop.index0 < 2 or rowloop.index0 < 2%}
                     <th>{{ column[0] }}</th>
                 {% else %}
                     <td>{{ column[0] }}</td>
                 {% endif %}
             {% endfor %}
             </tr>
         {% endfor %}
         </tbody>
     </table>
 </body>

 </html>
